body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#player {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px 20px;
    border-radius: 30px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#player-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#album-art {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

#album-art:hover {
    transform: scale(1.1);
}

#track-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
}

#controls {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#controls button {
    background-color: #404040;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#controls button:hover {
    background-color: #1db954;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #535353;
    outline: none;
    border-radius: 5px;
    transition: background 0.2s ease;
}

#volume-control {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

#volume-control i {
    margin-right: 10px;
}
